body{
    background-color: black;
    color: lightgrey;
    margin: 0;
    padding: 0;
}


#Name{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: lightgrey;
    font-size: 100px;
    padding-bottom: 10%;
     
}

#Name:hover {
    color: grey;

}

#Box{
    position: relative;
    border: 10px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}


#Box:hover{
    color: grey;
    border: 10px solid gray;


}

#Box2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

#popup-toggle:checked ~ .popup {
    display: block;
}


#popup-toggle {
    display: none;
}







#end{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:relative;
    background-color:black;
}